body {
    background-color: #222;
    color: #fff;
}

.container {
    border: 3px solid tomato;
}

.header {
    margin-top: 10px;
}

.header .logo {
    background-image: url(assets/logo.svg);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

.page-item .page-link {
    background-color: #008966;
    border-color: #007c5d;
}

.page-item.active .page-link {
    background-color: #00bc8c;
    border-color: #007c5d;
}

 ul li {
    flex: auto;
    text-align: center;
}

.page-link:hover {
    color: #fff;
}

.page-item.active .page-link {
    background-color: #00bc8c;
    border-color: #007c5d;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    line-height: 1.25;
    color: #fff;
    background-color: #00bc8c;
    border: 0 solid transparent;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header ul.pagination {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #303030;
    border-radius: 0.3rem;
}

.playback-button {
    -webkit-transition: .2s;
    transition: .2s;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.controls, .playback-button {
    display: flex;
    align-items: center;
}

.playback-button svg {
    -webkit-transition: .2s;
    transition: .2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
}

.random-bird .bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
}

.random-bird>div {
    width: calc(100% - 240px);
    margin: 0;
}

.timebar {
    flex: 1 1;
    margin-top: 12px;
}

.random-bird .list-group {
    margin-left: 40px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #303030;
    border: 1px solid #444;
}

.audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
}


.timebar-bar {
    position: relative;
    height: 4px;
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
}

.timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}

.timebar-circle {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%,calc(-50% + 2px));
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

